.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.task_board {
  flex: 1 1 auto;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.header {
  padding: 10px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  button {
    padding: 10px 20px;
    border-radius: 4px;
    border: 0px;
    background-color: #2abccc;
    cursor: pointer;
    &:hover {
      background-color: #bfffff;
    }
  }
}

.state_column {
  border-radius: 4px;
  height: 100%;
  background-color: #bff0ff;
  flex: 1 1 auto;
  height: 100%;
  max-width: 400px;
  padding: 10px 20px;
}

.task_card {
  border-radius: 4px;
  height: 150px;
  background-color: #2abccc;
  padding: 10px;
}

.caption {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .state_column {
    flex-direction: column;
  }
}
